:root{
  --purple: #8338EC;
  --grey: white;

  --drop-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
}



@keyframes pulse {
  0%, 100% {
    color: white;
  }
  50% {
    color: #8338EC;
  }
}

html{
  width: 100%;
  height: 100%;
}






*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.05%;
}

h1{
  color: black;

  /* Big Title */
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

h2{

  /* Title */
  
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3{
  

  /* Sub-heading */
  
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p{
  color: rgba(0, 0, 0, 0.60);

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem; /* 168.75% */
  max-width: 45ch;
  text-wrap: wrap;
}

a{
  text-decoration: none;
}

button{
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.75rem;
  background: var(--purple);

  color: #FFF;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button:hover{
  opacity: 0.8;
}

button:active{
  border-radius: 0.75rem;
  background: #FFF;
  color: var(--purple);
}


.button2{
  border: 2px solid #8338EC;
  background: #FFF;
  color: var(--purple);
}



.h-container{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

}


.v-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  justify-content: center;
  align-items: center;
}




.main-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
  
  flex-flow: wrap;

  
  gap: 2rem;
  
 
  
}

.cell{
  width: 5rem;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 6px solid var(--purple);
  border-radius: 1rem;
  
}

.cell h1{
  color: black;
  opacity: 0.8;
}

.profile-card{
  display: flex;
  width: 18rem;
  height: 24rem;
  padding: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  

  border-radius: 1.5rem;
  background: #FFF;
  
  /* Shadow */
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
}

.profile-card .user-name{
  color: var(--purple);

  
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile-card img{
  width: 8rem;
  height: 8rem;
  flex-shrink: 0;

  fill: #D9D9D9;
  border-radius: 10rem;

  border: solid 0.4rem var(--purple);
}

.player{
  padding: 1rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 23px;
  font-weight: 600;

  
  padding-left: 24px;
  padding-right: 24px;

  
  border-radius: 1rem;
  background-color: white;
  box-shadow: var(--drop-shadow);
}

#current-player{
  color: var(--purple);

  animation: pulse 1s ease-in infinite;
 
}

#players{
  gap: 4rem;
}

#win-style h1{
  color: var(--purple);
}

#header-container{
  display: flex;
  
  padding: 0.625rem 2.5rem;
  justify-content: space-between;
  align-items: center;

  background-color: var(--purple);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#intro{
  justify-content: space-around;
  align-items: flex-start;
  gap: 4rem;

}

#profie-header{
  width: 3rem;
  height: 3rem;
  padding: 0.2em;

  aspect-ratio: 1 1;
  background-color: white;
  border: white solid 6px;
  border-radius: 4rem;

}

#profile h1{
  color: white;
}

#LOGO{
  color: white;
  font-weight: 900;
}


#xo-matrix{  
  width: min-content;
  height: min-content;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  box-shadow: var(--drop-shadow);

}

#user-name{
  color: white;
  opacity: 0.8;
  
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
 
}

#options{
  width: 100%;
  justify-content: center;
  gap: 4rem;
}


#matrix-button{
  gap: 2rem;
  
}

#players-result{
  gap: 2rem;
  
}

#result{
  color: var(--purple);
}

#winner{
  border: solid 2px var(--purple);
}

.main-container .game-result{
  width: 100%;
  align-self: center;
}

.game-result{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

@media screen and (max-width: 80rem) {
  #intro{
      align-items: center;
  }

  .main-container{
      
      
      margin-top: 6rem;
  }

  .profile-card{
      display: none;
  }

  
}




